.picker {
    position: fixed;
    top: 20%;
    left: 3%;

    div {
        opacity: 0;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            opacity: 1 !important;
        }
    }
}