.searchWrapper {
    width: fit-content;
    position: fixed;
    left: 0;
    top: 5%;
    right: 0;
    margin-left: 3%;

    input {
        border: none;
        outline: none;
        padding-bottom: 10px;
        border-bottom: 3px solid #ffffff50;
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
        background-color: transparent;
        // margin: auto;
        margin-bottom: 10px;
    }

    .allzone {
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;

        .dragZone {
            // z-index: -5000;
            // position: fixed;
            // left: 0;
            // top: 0;

            input {
                width: 100%;
                height: 100%;
                // position: fixed;
                margin: 0 auto;
                // top: 50%;
                // left: 50%;
            }
        }
    }

}